<div class="container mt-5">
    <h1 class="display-4 mb-4 text-center">Welcome to Employee Tax Declaration</h1>
    <div class="container center">
        <p class="lead">This application helps you manage your tax declaration process efficiently.</p>
        <h2 class="h4 mb-3">Features:</h2>
        <ul class="list-unstyled">
            <li><i class="bi bi-check-square me-2"></i>Submit tax forms online</li>
            <li><i class="bi bi-check-square me-2"></i>View and manage your tax history</li>
            <li><i class="bi bi-check-square me-2"></i>Save form progress and submit later</li>
            <li><i class="bi bi-check-square me-2"></i>Access tax-related resources</li>
            <li><i class="bi bi-check-square me-2"></i>Update your profile information</li>
            <li><i class="bi bi-check-square me-2"></i>Upload profile photo</li>
            <li><i class="bi bi-check-square me-2"></i>Apply for form changes</li>
            <li><i class="bi bi-check-square me-2"></i>Admin can respond to user applications</li>
            <li><i class="bi bi-check-square me-2"></i>Admin can submit or unfreeze forms</li>
            <li><i class="bi bi-check-square me-2"></i>Pagination and search filter for admin</li>
         </ul>
    <p>Get started by exploring the navigation menu above.</p>
    </div>
    
</div>
