

<div class="container mt-5">
    <h1 class="display-4 mb-4 text-center">Welcome to Employee Tax Declaration</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Url.Content("~/images/carousel2.jpg")" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/images/carousel3.jpg")" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("~/images/carousel1.jpg")" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container center">
        <p class="lead">This application helps you manage your tax declaration process efficiently.</p>
        <h2 class="h4 mb-3">Features:</h2>
        <ul class="list-unstyled">
            <li><i class="bi bi-check-square me-2"></i>Submit tax forms online</li>
            <li><i class="bi bi-check-square me-2"></i>View and manage your tax history</li>
            <li><i class="bi bi-check-square me-2"></i>Save form progress and submit later</li>
            <li><i class="bi bi-check-square me-2"></i>Access tax-related resources</li>
            <li><i class="bi bi-check-square me-2"></i>Update your profile information</li>
            <li><i class="bi bi-check-square me-2"></i>Upload profile photo</li>
            <li><i class="bi bi-check-square me-2"></i>Apply for form changes</li>
            <li><i class="bi bi-check-square me-2"></i>Admin can respond to user applications</li>
            <li><i class="bi bi-check-square me-2"></i>Admin can submit or unfreeze forms</li>
            <li><i class="bi bi-check-square me-2"></i>Pagination and search filter for admin</li>
         </ul>
    <p>Get started by exploring the navigation menu above.</p>
    </div>
    
</div>
